{% extends 'main.html' %}

{% block content %}
    <h1>Enter Artists</h1>
    <form method="POST">
        <div class="scrollable">
            <div class="artists-input">
                {% for num in range(count) %}
                    <input type="text" id="artist-{{num}}" name="artist-{{num}}" required>
                {% endfor %}
            </div>
        </div>
        <div class="buttons">
            <!-- allows me to go back without filling fields in. Button by default submits -->
            <button class="btn" onclick="window.location.href='{{url_for('color')}}'">&#8617</button>
            <div class="divider"></div>
            <button class="btn" submit">&#8618</button>
        </div>
    </form>
{% endblock %}