<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter Artist Names</h1>
    <form method="POST">
        {% for num in range(count) %}
        <input type="text" id="artist-{{num}}" name="artist-{{num}}" required>
        <br>
        {% endfor %}
        <a href="{{url_for('color')}}">back</a>
        <button type="submit">Submit</button>
    </form>
</body>
</html>