{% extends 'main.html' %}

{% block content %}
    <h1>Albums</h1>
    <form method="POST">
        <select name="artist-albums" id="artist-albums" multiple>
            {% for album in albums %}
                <option value="{{loop.index}}">{{album}}</option>
            {% endfor %}
        </select>
        <div class="buttons">
            <!-- allows me to go back without filling fields in. Button by default submits -->
            <a href="{{ url_for('confirm') }}" class="btn1">&#8617</a>
            <div class="divider"></div>
            <button class="btn" type="submit">&#8618;</button>
        </div>
    </form>
{% endblock %}