<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Playlist</title>
</head>
<body>
    <h1>Let's Begin!</h1>
    <h5>Choose any color: Red | Orange | Yellow | Green | Blue | Purple | Black</h5>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <form method="POST">
        <label for="user_color">Enter a Color: </label>
        <input type="text" id="user-color" name="user-color" required>
        <br>
        <label for="artist_count">Number of Artists: </label>
        <input type="text" id="artist-count" name="artist-count" required>
        <br>
        <button type="submit">Next</button>
    </form>
</body>
</html>